:root {
  --main-blue: linear-gradient(147deg, #000000 0%, #04619f 74%);
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  background: var(--main-blue);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

span {
  margin: 0 0.25rem;
}

@keyframes enterLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes exitLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

@keyframes enterRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enterBottom {
  0% {
    transform: translateY(1000px);
  }
  40% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes enterTop {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(200px);
    transform: scale(0.2);
  }
  50% {
    opacity: 0;
    transform: translateY(100px);
    transform: scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1);
  }
}

.exit {
  animation: exitLeft 1s;
}
.enter {
  animation: enterLeft 1s;
}

.scroll-up:hover {
  transition: all 0.4s;
  transform: scale(1.4);
}
