:root {
  --linear-black: linear-gradient(147deg, #000000 0%, #04619f 74%);
  --main-black: #1e212b;
}

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  height: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

span {
  margin: 0 0.25rem;
}

@keyframes enterLeft {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes exitLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1000px);
  }
}

@keyframes enterRight {
  0% {
    transform: translateX(1000px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes enterBottom {
  0% {
    transform: translateY(1000px);
  }
  40% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes enterTop {
  0% {
    transform: translateY(-2000px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(200px) scale(0.2);
  }
  50% {
    opacity: 0;
    transform: translateY(100px) scale(0.7);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@keyframes enterTopRight {
  0% {
    opacity: 0;
    transform: translate(-2.5rem, -2.5rem) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
}

@keyframes exitTopRight {
  0% {
    opacity: 1;
    transform: translate(0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-2.5rem, -2.5rem) scale(0);
  }
}

.exit {
  animation: exitTopRight 0.4s;
  transform-origin: 100% 0%;
}
.enter {
  animation: enterTopRight 0.4s;
  transform-origin: 100% 0%;
}

.hidden {
  opacity: 0;
  translate: -100% 0;
  transition: translate 1s ease-in-out, opacity 1s ease-in-out 0.3s;
}

.hidden.active {
  opacity: 1;
  translate: 0 0;
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.scroll-up:hover {
  transition: all 0.4s;
  transform: scale(1.4);
}
